.primary-90 {
    color: rgba(20, 33, 61, 1);
}

.border-primary-80 {
    border-color: rgba(20, 33, 61, 0.8) !important;
}

.border-primary-50 {
    border-color: rgba(20, 33, 61, 0.5) !important;
}

.bg-gray {
background-color: #e5e5e5;
}

.like-button:hover h2,
.like-button:hover i {
    color: #198754;
}

.like-button.active h2,
.like-button.active i {
    color:#198754;
}

.dislike-button:hover h2,
.dislike-button:hover i {
    color:#DC3545;
}

.dislike-button.active h2,
.dislike-button.active i {
    color: #DC3545;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .like-button.pulse {
    animation: pulse 0.3s ease;
  }

  .dislike-button.pulse {
    animation: pulse 0.3s ease;
  }
  