<div class="container">
    <form #contributionForm="ngForm">
        <h2 class="mb-3">Sua Contribuição:</h2>
        <div class="col-8 mb-3 border border-primary-80 rounded-4 p-0 d-flex flex-column" style="height: 200px;">
            <div class="border-bottom border-primary-50 w-100 py-1">
                <button type="button" class="btn btn-sm btn-light fw-bold ms-3">N</button>
                <button type="button" class="btn btn-sm btn-light fst-italic">
                    <i class="bi bi-type-italic fs-6"></i>
                </button>
                <button type="button" class="btn btn-sm btn-light">&#64;</button>
            </div>

            <textarea class="border-0 rounded-bottom-4 ps-4 pt-3 pe-4 pb-3 w-100 h-100 flex-grow-1 fs-6"
                style="resize: none; overflow-y: auto; outline: none;">
            </textarea>
        </div>

        <div class="col-8 justify-content-between d-flex flex-md-row">
            <button class="like-button d-flex column-gap-2 align-items-center border-0"
            [ngClass]="{ active: isSupported === true, pulse: isPulsing.support }"
            (click)="setSupport(true)"
            >
                <i class="bi bi-hand-thumbs-up-fill primary-90" style="font-size: 3rem;"></i>
                <h2 class="pt-2 ms-1 mb-0 primary-90 fw-bold">Apoia</h2>
            </button>

            <button class="dislike-button d-flex column-gap-2 align-items-center border-0"
            [ngClass]="{ active: isSupported === false, pulse: isPulsing.oppose }"
            (click)="setSupport(false)"
            >
                <h2 class="pt-2 ms-1 mb-0 primary-90 fw-bold">Não Apoia</h2>
                <i class="bi bi-hand-thumbs-down-fill primary-90" style="font-size: 3rem;"></i>
            </button>
        </div>

    </form>
</div>