<div class="card" [ngClass]="{ 'politic-background': debateContribution.userParty }">
    <div class="d-flex flex-row justify-content-between align-items-center flex-wrap gap-3">
        <div class="d-flex flex-row align-items-center">
            <img *ngIf="debateContribution.userParty && !small" class="d-none d-md-flex me-4" src="" alt="Gravata" />

            <img [src]="debateContribution.userPhoto" [alt]="debateContribution.userName" class="rounded-circle me-2" />
            <div class="d-flex flex-column">
                <span *ngIf="debateContribution.userParty">
                    {{debateContribution.userParty}} ({{debateContribution.userPosition}})
                </span>
                <div class="d-flex flex-row align-items-center gap-1">
                    <span class="m-0">{{debateContribution.userName}}</span>
                    <i class="bi bi-check-circle-fill" *ngIf="debateContribution.userVerified"></i>
                </div>
                <span class="text-muted form-text m-0">{{debateContribution.openDate | date: 'dd/MM/yyyy'}}</span>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center gap-3">
            <button class="bg-transparent border-0" aria-label="Curtir contribuição" (click)="like()">
                <i class="bi bi-hand-thumbs-up fs-4 me-2"></i>
                <span>{{debateContribution.likes}}</span>
            </button>
            <button class="bg-transparent border-0" aria-label="Não curtir contribuição" (click)="like()">
                <i class="bi bi-hand-thumbs-down fs-4 me-2"></i>
                <span>{{debateContribution.dislikes}}</span>
            </button>
        </div>
    </div>

    <div class="mt-4">
        <div class="d-flex flex-row align-items-center gap-2">
            <i class="fs-3"
                [ngClass]="debateContribution.opinion ? 'bi bi-hand-thumbs-up-fill' : 'bi bi-hand-thumbs-down-fill' "></i>
            <h3 class="m-0">
                {{ debateContribution.opinion ? 'Apoia' : 'Não apoia' }}
            </h3>
        </div>
        <p class="mt-4">
            {{ displayText }}
            <a *ngIf="debateContribution.text.length > 150" (click)="toggleText()" class="text-primary"
                style="cursor: pointer;">
                {{ showFullText ? 'Ler menos' : 'Ler mais' }}
            </a>
        </p>
    </div>
</div>