<div class="container">
    <form #contributionForm="ngForm">
        <h2 class="mb-3">Sua Contribuição:</h2>
        <div class="col-8 mb-3 border border-primary-80 rounded-4 p-0 d-flex flex-column" style="height: 200px;">
            <div class="border-bottom border-primary-50 w-100 py-1">
                <button type="button" class="btn btn-sm btn-light fs-6 fw-bold ms-3"
                [ngClass]="{ 'bg-primary-100 text-white': isBold }"
                (click)="formatText('bold')"
                >N</button>
                <button type="button" class="btn btn-sm btn-light fst-italic"
                [ngClass]="{ 'bg-primary-100 text-white': isItalic }"
                (click)="formatText('italic')"
                >
                    <i class="bi bi-type-italic fs-6"></i>
                </button>
                <button type="button" class="btn btn-sm btn-light fs-6">&#64;</button>
            </div>

            <div #editor contenteditable="true" class="border-0 rounded-bottom-4 ps-4 pt-3 pe-4 pb-3 w-100 h-100 flex-grow-1 fs-6"
                style="resize: none; overflow-y: auto; outline: none;">
            </div>
        </div>

        <div class="col-8 mb-3 justify-content-between d-flex flex-md-row">
            <button class="like-button d-flex column-gap-2 align-items-center border-0"
            [ngClass]="{ active: isSupported === true, pulse: isPulsing.support }"
            (click)="setSupport(true)"
            >
                <i class="bi bi-hand-thumbs-up-fill primary-90" style="font-size: 3rem;"></i>
                <h2 class="pt-2 ms-1 mb-0 primary-90 fw-bold">Apoia</h2>
            </button>

            <button class="dislike-button d-flex column-gap-2 align-items-center border-0"
            [ngClass]="{ active: isSupported === false, pulse: isPulsing.oppose }"
            (click)="setSupport(false)"
            >
                <h2 class="pt-2 ms-1 mb-0 primary-90 fw-bold">Não Apoia</h2>
                <i class="bi bi-hand-thumbs-down-fill primary-90" style="font-size: 3rem;"></i>
            </button>
        </div>

        <div>
            <p class="fs-6 mb-3">Políticos marcados nesse debate</p>
            <div class="d-flex flex-row gap-4">
                <div class="d-flex flex-row align-items-center bg-gray me-3">
                    <button class="border-0 me-2 p-0 bg-gray">
                        <i class="bi bi-x fs-2"></i>
                    </button>
                    <img class="rounded-circle me-1" src="https://i.pravatar.cc/150?img=47" alt="" style="height: 24px; width: 24px;">
                    <p class="mb-0 pe-3">Marta Oliveira (Deputada Federal)</p>
                </div>
                <div class="d-flex flex-row align-items-center bg-gray me-3">
                    <button class="border-0 me-2 p-0 bg-gray">
                        <i class="bi bi-x fs-2"></i>
                    </button>
                    <img class="rounded-circle me-1" src="https://i.pravatar.cc/150?img=59" alt="" style="height: 24px; width: 24px;">
                    <p class="mb-0 pe-3">Carlos Augusto (Vereador)</p>
                </div>
            </div>
        </div>

    </form>
</div>