<nav class="navbar navbar-expand-lg" style="background-color: #14213D;">
    <div class="container-fluid d-flex justify-content-between align-items-center m-0">
        <div class="d-flex column gap-2">
            <a href="/">
                <img [src]="logo" alt="logo" width="50" height="50">
            </a>
            <div class="text-white fs-6 d-none d-md-block">
                <span class="d-block">Bússola</span>
                <span class="d-block">Eleitoral</span>
            </div>
        </div>

        <div class="align-items-center d-none d-lg-block ">
            <ul class="list-unstyled mb-0 d-flex column-gap-4 align-items-center">
                <li class="fs-5">
                    <a class="nav-link" href="#">Início</a>
                </li>
                <li class="fs-5">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="fs-5">
                    <a class="nav-link" href="#">Notícias</a>
                </li>
            </ul>
        </div>

        <form class="d-flex align-items-center position-relative col-8 col-sm-6 col-md-3 col-lg-2">
            <input class="form-control ps-4 pe-5 py-1 rounded-pill border-0 bg-light fst-italic" type="search"
                placeholder="Pesquisar" aria-label="Pesquisar" name="searchInput" [(ngModel)]="searchInput">

            <button class="position-absolute btn p-0 m-0 border-0 bg-transparent" style="right: 15px;" type="button" (click)="search()">
                <i class="bi bi-search position-absolute"
                style="top: 50%; transform: translate(-100% ,-50%); font-size: 20px; color: black;"></i>
            </button>
        </form>

        <div class="d-flex column-gap-2 align-items-center justify-content-center">
            <div class="notifications position-relative d-inline-block me-4 d-none d-md-block">
                <button (click)="onRedirectNotifications()" class="btn p-0 m-0 border-0 bg-transparent">
                    <i class="bi bi-bell-fill" style="font-size: 32px; color: #FCA311;"></i>
                </button>

                <span *ngIf="user.unreadNotifications > 0"
                    class="position-absolute top-0 start-100 badge rounded-circle bg-danger text-dark text-opacity-75"
                    style="transform: translate(-50%, -10%);">
                    {{user.unreadNotifications}}
                </span>
            </div>

            <a class="d-none d-md-block" href="#">
                <img [src]="user.photo" alt="profilePicture" width="50" height="50" class="rounded-circle me-2">
            </a>
            <div class="d-none d-sm-flex align-items-center position-relative">
                <select class="form-select text-white fs-6 border-0 pe-4 me-2" role="button" (change)="onSelectOption($event)">
                    <option value="userName" hidden selected>{{user.name}}</option>
                    <option value="/pagina1">Página 1</option>
                    <option value="/pagina2">Página 2</option>
                    <option value="/pagina3">Página 3</option>
                </select>
                <i class="bi bi-chevron-compact-down position-absolute end-0 me-2"
                    style="transform: scaleY(2); font-size: 16px; color: #FFF;"></i>
            </div>
        </div>
    </div>
</nav>