<div class="d-flex justify-content-center px-3 py-5">
    <form [formGroup]="contributionForm" class="col-12 col-md-10 col-lg-8 d-flex flex-column justify-content-center">
        <h2 class="mb-3">Sua Contribuição:</h2>
        <div class="w-100 mb-3">
            <app-text-editor [allPoliticians]="allPoliticians"
                [followedPoliticians]="followedPoliticians"></app-text-editor>
        </div>


        <div class="col-12 justify-content-between d-flex flex-md-row mb-3">
            <button type="button" class="like-button d-flex column-gap-2 align-items-center border-0"
                [ngClass]="{ active: isSupported === true, pulse: isPulsing.support }" (click)="setSupport(true)">
                <i class="bi bi-hand-thumbs-up-fill primary-90" style="font-size: 3rem;"></i>
                <h2 class="support-text pt-2 ms-1 mb-0 primary-90 fw-bold">Apoia</h2>
            </button>

            <button type="button" class="dislike-button d-flex column-gap-2 align-items-center border-0"
                [ngClass]="{ active: isSupported === false, pulse: isPulsing.oppose }" (click)="setSupport(false)">
                <h2 class="support-text pt-2 ms-1 mb-0 primary-90 fw-bold">Não Apoia</h2>
                <i class="bi bi-hand-thumbs-down-fill primary-90" style="font-size: 3rem;"></i>
            </button>
        </div>

        <div class="mb-5">
            <p *ngIf="markedPoliticians.length >= 1" class="fs-6 mb-3">Políticos marcados nesse debate</p>
            <div class="col-12 d-flex flex-row flex-wrap gap-4">
                <div *ngFor="let politician of markedPoliticians"
                    class="d-flex flex-row align-items-center bg-gray me-3">
                    <button class="border-0 me-2 p-0 bg-gray">
                        <i class="bi bi-x fs-2" (click)="removeMarkedPolitician(politician)"></i>
                    </button>
                    <img class="rounded-circle me-1" src={{politician.photo}} alt="" style="height: 24px; width: 24px;">
                    <p class="mb-0 pe-3" style="font-size: 0.8rem;">{{politician.name}}
                        ({{politician.partyPosition}})</p>
                </div>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <button class="submit-button bg-green px-4 py-2 border-0 rounded-4 text-white"
                (click)="submitContribution()">
                Criar Contribuição</button>
        </div>
    </form>
</div>