<quill-editor #editor class="w-100 h-100" [(ngModel)]="htmlText" placeholder="Escreva sua contribuição..."
  [modules]="quillConfig">
</quill-editor>

<!-- dropdown fixo na tela -->
<div *ngIf="showSelectBox" class="dropdown-politician shadow bg-white rounded p-2" [ngStyle]="dropdownPosition"
  (click)="$event.stopPropagation()">

  <input type="text" name="search" class="form-control mb-2 border-primary-80" placeholder="Buscar político..."
    [(ngModel)]="searchTerm" />

  <div *ngFor="let politician of filteredPoliticians" (click)="addMarkedPolitician(politician)"
    class="dropdown-item d-flex align-items-center gap-2 py-1">
    <img [src]="politician.photo" alt="" class="rounded-circle" style="width: 28px; height: 28px;">
    <span>{{ politician.name }} ({{ politician.partyPosition }})</span>
  </div>
</div>
